.abc {
    display: flex;
    
    justify-content: center;
    text-align: center;

}
div {
    justify-items: center;
}

.board-area {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.btn {
    display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #3f51b5;
  background-color: #ff0000;
  color: white;
  transition: all 0.2s ease-in-out;
  margin: 20px;
}
.btn:hover {
  background-color: white;
  color: #3f51b5;
  border: 2px solid #3f51b5;
  cursor: pointer;
}
.btn2 {
    display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #3f51b5;
  background-color: #2909df;
  color: white;
  transition: all 0.2s ease-in-out;
  margin: 20px;
}
.btn2:hover {
  background-color: white;
  color: #3f51b5;
  border: 2px solid #3f51b5;
  cursor: pointer;
}
